<h1>To do List</h1>
<ul>
  @foreach (string task in Model)
  {
    <li>@task</li>
  }
</ul>
<form action="/tasks_cleared" method="post">
  <button type="submit" name="button"> Clear all tasks</button>
</form>
<a href="/">Home</a>
